{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}DwellingSphere{% endblock %}</title>
</head>
<body>
    <header>
        <h1>
            <a href="{% url 'main_app:home_view' %}">
                <img src="{% static 'images/logo.png' %}" alt="DwellingSphere Logo" style="height: 90px;">
            </a>
        </h1>
        <nav>
            <a href="{% url 'main_app:home_view' %}#about">About</a>
            <div>
                <a href="{% url 'homes:home_list' %}">Homes</a>
                <div class="dropdown">
                    <a href="{% url 'repairs:repair_list_view' %}">Repair Services</a>
                    <a href="{% url 'furniture:shop_list_view' %}">Furniture Shops</a>
                </div>
            </div>
            <a href="{% url 'designers:designers_list_view' %}">Designers</a>
            <a href="{% url 'main_app:contact_view' %}">Contact Us</a>
            <a href="{% url 'main_app:signin_view' %}">Login</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 DwellingSphere. All rights reserved.</p>
    </footer>
</body>
</html>

